{% trans_default_domain 'FOSUserBundle' %}

<div class="container">
    <h1 class="text-center">Mon compte</h1>
    <div class="row">
        <div class="fos_user_user_show">
            <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
            <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
            <p>{{ 'profile.show.nom'|trans }}: {{ user.nom }}</p>
            <p>{{ 'profile.show.prenom'|trans }}: {{ user.prenom }}</p>
        </div>
        </div>
    <a class="btn btn-info" href="{{ path('fos_user_profile_edit') }}">Editer</a>
    <a class="btn btn-danger" href="{{ path('fos_user_change_password') }}">Modifier le mot de passe</a>
</div>
