{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faqs list</h1>

    <table class="table table-hover">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Question</th>
                <th>Reponse</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

        {% for rub in rubs %}
            <tr>
                <th colspan="5">{{ rub.libelle }} <a class="btn btn-info" href="{{ path('rubrique_edit', { 'id': rub.id }) }}">edit</a></th>

            </tr>
        {% for faq in rub.faqs %}
            <tr>
                <td><a href="{{ path('faq_show', { 'id': faq.id }) }}">{{ faq.id }}</a></td>
                <td>{{ faq.question }}</td>
                <td>{{ faq.reponse }}</td>
                <td>{% if faq.date %}{{ faq.date|date('Y-m-d') }}{% endif %}</td>
                <td>
                    <a class="btn btn-light" href="{{ path('faq_show', { 'id': faq.id }) }}">show</a>
                    <a class="btn btn-info" href="{{ path('faq_edit', { 'id': faq.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-info" href="{{ path('faq_new') }}">Create a new faq</a>

{% endblock %}
