{% extends 'base.html.twig' %}

{% block body %}
    <h1>Rubrique</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ rubrique.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ rubrique.libelle }}</td>
            </tr>
        </tbody>
    </table>
    <a class="btn btn-light" href="{{ path('rubrique_index') }}">Back to the list</a>
    <a class="btn btn-info" href="{{ path('rubrique_edit', { 'id': rubrique.id }) }}">Edit</a>
    {{ form_start(delete_form) }}
        <input class="btn btn-danger" type="submit" value="Delete">
    {{ form_end(delete_form) }}

{% endblock %}
