<h1>Liste des articles</h1>
<table class="table table-hover">
    <thead class="thead-light">
    <tr>
        <th>Id</th>
        <th>Libelle</th>
        <th>Prix</th>
        <th>Categorie</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for article in articles %}
        <tr>
            <td><a href="{{ path('article_show', { 'id': article.id }) }}">{{ article.id }}</a></td>
            <td>{{ article.libelle }}</td>
            <td>{{ article.prix }}</td>
            <td>{{article.category ? article.category.libelle }}</td>
            <td>
                <a class="btn btn-light"  href="{{ path('article_show', { 'id': article.id }) }}">show</a>
                <a class="btn btn-info" href="{{ path('article_edit', { 'id': article.id }) }}">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>